<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<title>Employee Manager</title>
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />
<link
	href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
</head>
<body>
	<div class="container" role="main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form class="form-horizontal" method="post" th:action="${employee} ? @{/editEmployee(ssn=${employee.ssn})} : @{addEmployee}">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<fieldset>
						<legend th:text="${employee}? 'Change Employee' : 'New Employee'">New Employee</legend>

						<!--  ----------------  ssn ---------------- -->
						<div class="form-group">
							<label for="inputSSN" class="col-md-2 control-label">SSN</label>
							<div class="col-md-10">
								<input class="form-control" id="inputSSN" type="text" name="ssn" th:value="${employee} ? ${employee.ssn}" th:readonly="${employee != null}">
							</div>
						</div>

						<!-- --------------  first Name ---------------- -->
						<div class="form-group">
							<label for="inputFirstName" class="col-md-2 control-label">First
								Name</label>
							<div class="col-md-10">
								<input class="form-control" id="inputFirstName" type="text"
									name="firstName" th:value="${employee} ? ${employee.firstName}">
							</div>
						</div>
						<!-- --------------  last Name ---------------- -->
						<div class="form-group">
							<label for="inputLastName" class="col-md-2 control-label">Last
								Name</label>
							<div class="col-md-10">
								<input class="form-control" id="inputLastName" type="text"
									name="lastName" th:value="${employee} ? ${employee.lastName}">
							</div>
						</div>

						<!-- --------------  dayOfBirth ---------------- -->
						<div class="form-group">
							<label for="inputDate" class="col-md-2 control-label">Date</label>
							<div class="col-md-10">
								<input class="form_datetime" id="inputDate" placeholder="Date"
									type="text" readonly name="dayOfBirth" th:value="${employee} ? ${#calendars.format(employee.dayOfBirth, 'dd.MM.yyyy')}">
							</div>
						</div>

						<!-- --------------  buttons ---------------- -->
						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" class="btn btn-primary">Submit</button>
								<a href="listEmployees">
									<button type="button" class="btn btn-default">Cancel</button>
								</a>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>

	</div>
	<!--  End of container -->


	<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />

	<!-- JS for Datetime picker -->

	<script type="text/javascript"
		src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

	<script>
		$(function() {

			$(".form_datetime").datetimepicker({
				format : "dd.mm.yyyy",
				autoclose : true,
				todayBtn : true,
				pickerPosition : "bottom-left",
				minView : 2
			});

		});
	</script>

</body>
</html>
