<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include Meta Information -->
    <div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
    
    <!-- --------------  Include CSS Files ------------------------->
     <div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />
     <!-- --------------  /Include CSS Files ------------------------->
    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">


            <!-- --------------  menu profile quick info ------------------------->
			<div th:replace="~{includes/pageFragments :: sideBarProfile}" />
            <!------------------ /menu profile quick info ------------------------->
            <br />

			<!-- --------------------- sidebar menu ------------------------------->
			<div th:replace="~{includes/pageFragments :: sideBarMenu}" />
			 <!---------------------- /sidebar menu ------------------------------->

            <!---------------------- menu footer buttons -------------------------->
			<div th:replace="~{includes/pageFragments :: menuFooterButtons}" />
            <!---------------------- /menu footer buttons -------------------------> 
          </div>
        </div>

       		 <!---------------------- top navigation ------------------------------>
        	<div th:replace="~{includes/pageFragments :: topRightNav}" />
       		 <!--------------------- /top navigation ------------------------------->


<!-- -------------------------------------------------------------------------------------------------------------------------
                                                PAGE Content
----------------------------------------------------------------------------------------------------------------------------- -->
          
		        <div class="right_col" role="main">
		          <div class="row">
		            <div class="col-md-12 col-sm-12 col-xs-12">
		            <div class="page-header" style="padding-bottom:20px;">
		           		 <img th:src="@{resources/logo_fh.jpg}" width="300px" style="float:right">
					     <h1>SMILE Planner Dashboard Index</h1>
				    </div>
				   </div>
				  </div>
				
				  
		      <!---------------------- Include Project List ------------------------------>
		        	<div th:replace="~{includes/projectListModule :: projectListModule}" />
		      <!--------------------- /End Project List ---------------------------------->
				  
		      <!--------------------- Include EmployeeManager ---------------------------->
		        	<div th:replace="~{includes/employeeManagerCode :: employeeManagerCode}" />
		      <!----------------------- /End EmployeeManager ---------------------------->
		      
		 
				
		         </div>
		 </div>          
          <br/>
       </div>
        <!-- /page content -->
          
          
          
<!---------------------------------------------------------------------------------------------------------------------------
                                               / FOOTER & JAVASCRIPT /
------------------------------------------------------------------------------------------------------------------------------->

		<div th:replace="~{includes/pageFragments :: footer}" />

         <!-- Include JavaScript -->
		<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />
		
		
      </div>
    </div>
  </body>
</html>
