<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include Meta Information -->
    <div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />

    <title>SMILE Planner </title>
    
    <!-- --------------  Include CSS Files ------------------------->
     <div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />
     <!-- --------------  /Include CSS Files ------------------------->
    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">


            <!-- --------------  menu profile quick info ------------------------->
			<div th:replace="~{includes/pageFragments :: sideBarProfile}" />
            <!------------------ /menu profile quick info ------------------------->
            <br />

			<!-- --------------------- sidebar menu ------------------------------->
			<div th:replace="~{includes/pageFragments :: sideBarMenu}" />
			 <!---------------------- /sidebar menu ------------------------------->

            <!---------------------- menu footer buttons -------------------------->
			<div th:replace="~{includes/pageFragments :: menuFooterButtons}" />
            <!---------------------- /menu footer buttons -------------------------> 
          </div>
        </div>

       		 <!---------------------- top navigation ------------------------------>
        	<div th:replace="~{includes/pageFragments :: topRightNav}" />
       		 <!--------------------- /top navigation ------------------------------->


<!-- -------------------------------------------------------------------------------------------------------------------------
                                                PAGE Content
----------------------------------------------------------------------------------------------------------------------------- -->
          
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Project Name</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Project Details</h2>
                    <div class="clearfix"></div>
                  </div>

					<div class="x_content">
					
					   <div class="col-md-12 col-sm-12 col-xs-12">
							<ul class="stats-overview">
		                        <li>
		                          <span class="name"> Budget </span>
		                          <span class="value text-success"> 2300 </span>
		                        </li>
		                        <li>
		                          <span class="name"> Total amount spent </span>
		                          <span class="value text-success"> 2000 </span>
		                        </li>
		                        <li class="hidden-phone">
		                          <span class="name"> Estimated project duration </span>
		                          <span class="value text-success"> 20 days </span>
		                        </li>
		                        <li class="hidden-phone">
		                          <span class="name"> Current project duration </span>
		                          <span class="value text-success"> 20 days</span>
		                        </li>
		                      </ul>
						</div>
					</div>

                  <div class="x_content">
                  
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      
                      <br />
                      <div id="mainb" style="height:350px;"></div>
                    </div>

                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3 col-xs-12">

                      <section class="panel">

                        <div class="x_title">
                          <h2>Project Description</h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                         

                          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
                          <br />

                          <div class="project_detail">
                            <p class="title">Project Leader</p>
                            <p>Deveint Inc</p>
                            <p class="title">Project Members</p>
                            <ul>
                            <li>Peter Scalhofer</li>
                            <li>Mitt Romny</li>
                            </ul>
                            <br>
                            <a class="btn btn-info btn-md btn-block" href="./createNewProject.html">Edit</a>
                          </div>
                        </div>

                      </section>

                    </div>
                    <!-- end project-detail sidebar -->

                  </div>
                </div>
              </div>
            </div>
            
             <!---------------------- Include Workpackage List ------------------------------>
		        	<div th:replace="~{includes/workpackageListModule :: workpackageListModule}" />
		      <!--------------------- /End Workpackage List ---------------------------------->
            
            
            
          </div>
        </div>
        <!-- /page content -->

          
          
          
<!---------------------------------------------------------------------------------------------------------------------------
                                               / FOOTER & JAVASCRIPT /
------------------------------------------------------------------------------------------------------------------------------->

		<div th:replace="~{includes/pageFragments :: footer}" />

         <!-- Include JavaScript -->
		<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />
		
		 <!-- ECharts Additional Script -->
   		 <script th:src="@{resources/vendors/echarts/dist/echarts.min.js}"></script>
   		 
		
		
      </div>
    </div>
  </body>
</html>
